.splide__pagination {
    padding-top: 34px;
    position: static;
    gap: 10px;
}

.splide__pagination__page {
    margin: 0;
    opacity: 1;
    background-color: white;
    transition: all 0.2s linear;
}

.splide__pagination__page.is-active {
    transform: scale(1);
    box-shadow: 0px 0px 7px white;
}

@media (min-width: 1024px) {
    .splide__pagination {
        z-index: 10;
        position: absolute;
        bottom: 42px;
        right: auto;
        top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 320px;
        justify-content: space-between;
        width: 26px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }

    .splide__pagination::after {
        content: "";
        height: 300px;
        width: 3px;
        background-color: white;
        position: absolute;
    }

    .splide__pagination__page {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        background-color: #452e47;
        z-index: 10;
    }

    .splide__pagination li:first-child .splide__pagination__page,
    .splide__pagination li:last-child .splide__pagination__page {
        width: 26px;
        height: 26px;
    }

    .splide__pagination__page.is-active {
        transform: scale(1);
        box-shadow: none;
    }
}
